PORT=
STORAGE_PATH=
AI_SERVICE_URL=
AI_SERVICE_KEY=
MOCK_AI_SERVICE=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ENABLE_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=
BASE_URL=
DATABASE_URL=
DATABASE_MAX_CONNECTIONS=
DATABASE_MAX_IDLE=
POSTGRES_PASSWORD=
