# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
virtual-fitcheck

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env

# Temporary files
tmp/
uploads/

# IDE
.vscode/
.idea/
